@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

:root {
	--level-one: translateZ(3rem);
	--level-two: translateZ(4rem);
	--level-three: translateZ(6rem);

	--fw-normal: 400;
  --fw-bold: 700;
  
  --clr: #d6e4f9;

  --spacer: 1em;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	height: 100vh;
	display: grid;
	place-items: center;
	font-family: 'Oswald', sans-serif;
}

.card {
	width: 400px;
}

.card__content {
	text-align: center;
	position: relative;
	padding: 5rem;
  transition: transform 3s;
	transform-style: preserve-3d;
}

.card:hover .card__content {
	transform: rotateY(0.5turn);
}

.card__front,
.card__back {
  display: grid;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 15rem 3rem;
	backface-visibility: hidden;
  transform-style: preserve-3d;
  align-content: center;
}

.card__front {
  background-color: var(-clr);
  background-image: url('https://images-na.ssl-images-amazon.com/images/I/81rmEnZjANL._AC_SY879_.jpg');
  background-size: cover;
  background-blend-mode: overlay;
  color: #fff;
}

.card__front::before, .card__back::before {
  content: '';
  position: absolute;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid lightgray;
  transform: var(--level-one);
}

.card__title {
	font-size: 3.5rem;
	transform: var(--level-three);
	order: 2;
  text-transform: uppercase;
  text-shadow: 0 0 5px black;
}

.card__subtitle {
	transform: var(--level-two);
  text-transform: uppercase;
  text-shadow: 0 0 5px black;
	letter-spacing: 4px;
	font-size: 0.75rem;
	font-weight: var(--fw-bold);
	opacity: 0.7;
}

.card__body {
  transform: var(--level-two);
  font-weight: var(fw-normal);
  font-size: 1.5rem;
  line-height: 1.6;
}

.card__back {
  transform: rotateY(0.5turn);
  color: #fff;
  background: #333;
  text-shadow: 0 0 5px black;
}
